<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="https://fonts.googleapis.com/css?family=Merriweather:300|Abril+Fatface|Raleway:400,700|Kaushan+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/bootstrap.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/research_style.css' | relative_url }}">
<link rel="shortcut icon" href="{{ '/assets/favicon.ico' | absolute_url }}">

<title>{{ page.title | default: site.title }}</title>
{% seo %}