---
title: Justin Cho
---
<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>


{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<body>
	<main class="container" id="top">
		<section class="about">
			<div class="portfolio-img-wrapper">
				<a href="/">
					<img class="portfolio-img" src="{{ '/assets/portfolio.png' | relative_url }}" alt="{{ site.plainwhite.name }}">
				</a>
			</div>

			<h2> Justin Cho 조현동 </h2>

			<!-- <h1 class="name">{{ site.plainwhite.name }} </h1> -->
			<p class="tagline">{{ site.plainwhite.tagline }}</p>

			<div class="affiliation-wrapper">
				{% for affil in site.plainwhite.affiliations %}
				<div class="affiliation">
					<a target="_blank" href="{{ affil.link}}">{{ affil.name}}</a>
				</div>
				{% endfor %}
			</div>
			<ul class="social">
				<a href="https://github.com/{{ site.plainwhite.social_links.github }}" target="_blank"><li><i class="icon-github-circled"></i></li></a>
				<a href="https://www.linkedin.com/{{ site.plainwhite.social_links.linkedIn }}" target="_blank"><li><i class="icon-linkedin-squared"></i></li></a>
				<a href="https://twitter.com/{{site.plainwhite.social_links.twitter}}" target="_blank"><li><i class="icon-twitter-squared"></i></li></a>
			</ul>
		</section>
		<section class="content">
			<div class="intro">

				<p> <a href="mailto:jcho@isi.edu">email</a> / <a href="{{ '/assets/justin_cho_cv.pdf' | absolute_url }}" target="_blank">resume</a> / <a href="{{ '/blog.html' | absolute_url}}">blog</a></p>
				<div class="intro-text">
					I'm a Programmer Analyst at the University of Southern California's (USC) Information Sciences Institute (ISI). I am excited to start my PhD program in Computer Science at USC starting this fall. I mainly work with <a href="https://www.isi.edu/~jonmay/" target="_blank"> Jonathan May</a>. 
				</div>

				<div class="intro-text">
					My research interest is in natural language processing, specifically in natural language generation. Recently, I have been working on open-domain dialogue generation with inspiration from improv. Ultimately, I want to contribute to developing intelligent systems that we can interface with using only dialogue, like Samantha in <a href="https://en.wikipedia.org/wiki/Her_(film)"> Her </a> and <a href="https://interstellarfilm.fandom.com/wiki/TARS"> TARS </a> in Interstellar. I have previously worked on text generation with structured data, fake news detection, and question answering. 
				</div>
			</div>	

			<div id="news">
				<h3> News </h3>
				<div>
					<ul>
						<li>
							2020 Summer: I will be working at <a href="https://www.stitchfix.com/">Stitch Fix</a> as a data science intern in merch product development. 
						</li>
						<li>
							2020 April: My paper with <a href="https://www.isi.edu/~jonmay/" target="_blank"> Jonathan May</a> has been accepted to ACL2020! I will be presenting virtually at the conference.
						</li>
					</ul>
				</div>
				
			</div>

			<div id="research">
				<h3> Research </h3>

				<div class="research-item">
					<div class="pull-left thumbnail-wrapper">
						<img src="{{ '/assets/yesand_example2.png' | absolute_url }}" alt="spolin-thumbnail" class="thumbnail">
					</div>

					<div class="description">
						<div class="paper-title"> 
							Grounding Conversations with Improvised Dialogues 
						</div>
						<div class="authors">
							<strong>	Hyundong J. Cho</strong>, <a href="https://www.isi.edu/~jonmay/" target="_blank"> Jonathan May</a>. ACL2020. 
							<a href="https://arxiv.org/abs/2004.09544" target="_blank"> [paper] </a> 
							<a href="{{ '/spolin' | absolute_url }}"> [project page] </a> 
							<a href="https://spolin.isi.edu" target="_blank"> [demo]</a>
						</div>

						<div class="excerpt">
							Open-domain dialogue systems overlook an important phenomena that makes conversations engaging: grounding. We collect "Yes, and" type dialogue pairs from an improv podcast and existing dialogue corpora to create the Spontaneanation Pairs Of Learnable ImprovisatioN (<span class="spolin-text">SPOLIN</span>) dataset. Human evaluation shows that models fine-tuned with <span class="spolin-text">SPOLIN</span> generate more engaging results. 
						</div>
					</div>

				</div>

				<div class="research-item">

					<div class="pull-left thumbnail-wrapper">
						<img src="{{ '/assets/sigdial2020.png' | absolute_url }}" alt="sigdial2020-thumbnail" class="thumbnail">
					</div>

					<div class="description">
						<div class="paper-title"> 
							Agenda Pushing in Non-collaborative Dialogue 
						</div>
						<div class="authors">
							<strong>	Hyundong J. Cho</strong>, <a href="https://steel.isi.edu/members/gbartlet/" target="_blank"> Genevieve Bartlett</a>
						</div>

						<div class="excerpt">
							It is challenging to build an automatic anti-phishing dialogue system because of the unique trade-offs involved in phishing interactions. We propose that a hybrid approach of FSTs and a neural open-domain dialogue system is an effective approach for anti-phishing and provide the Puppeteer framework as an example. 
						</div>
					</div>

				</div>

			</div>

			<div id="blog-list">
				<h3> Blog Posts	</h3>

				{%- if site.recreation -%}
					{%- for page in site.recreation reversed limit:2 -%}
						<a class="post-link" href="{{ page.url | relative_url }}">
							<div class="small-title">{{ page.title }}</div>
						</a>
						<div class="post-date">{{ page.date | date: date_format}} </div>

						<div class="excerpt">
							{%- if site.show_excerpts -%}
							{{ page.excerpt }}
							{%- endif -%}
						</div>
					{%- endfor -%}
				{%- endif -%}

				{%- if site.posts -%}
					{%- for page in site.posts limit:2 -%}
						<a class="post-link" href="{{ page.url | relative_url }}">
							<div class="small-title">{{ page.title }}</div>
						</a>
						
						<div class="post-date">{{ page.date | date: date_format}} </div>

						<div class="excerpt">
							{%- if site.show_excerpts -%}
							{{ page.excerpt }}
							{%- endif -%}
						</div>
					{%- endfor -%}
				{%- endif -%}


			</div>


			<div id="Misc.">
				<h3> Misc. </h3>

				<ul>
					<li>
						My pronouns are he, him, his.
					</li>
					
					<li>
						Before starting my PhD at USC, I worked at ISI as a programmer analyst for a year. Before that, I graduated from Hong Kong University of Science and Technology with a bachelor's degree in Computer Science. 
					</li>

					<li>
						I have been very fortunate to have lived in many different countries: Moscow, Russia; Oslo, Norway; Vienna, Austria; Abu Dhabi, UAE; Hong Kong; Seoul, South Korea; Los Angeles, California. I look forward to living in new places and experiencing different cultures! 
					</li>

					<li>
						I love playing football (⚽!!) and I am a huge fan of FC Barcelona. Visca el Barça!
					</li>

					<li>
						I am a citizen of South Korea and the US. I am fluent in both English and Korean. I am teaching myself Mandarin with Duolingo and HSK level tests. 有一天，我想用流利的中文跟你说话！
					</li>

				</ul>
			</div>


			
		</section>


	</main>

	<div class="footer">
		Last updated: May 2020. <a href="#top"> Back to top </a>
	</div>


	{%- if site.plainwhite.analytics_id -%}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
	{%- endif -%}
</body>
</html>


