<!DOCTYPE html>
<html lang="en">
<head>
	{%- include research-head.html -%}
</head>
<body>





	<main>
		<section class="content">
			{{ content }}
		</section>
    </main>
    


	{%- if site.plainwhite.analytics_id -%}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
    {%- endif -%}
    

</body>
</html>
