<!DOCTYPE html>
<html lang="en">
<head>
	{%- include research-head.html -%}
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #a32121;">
        <a class="navbar-brand title-font" href="#"> {{ page.title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="#about">
                  About 
                  <!-- <span class="sr-only">(current)</span> -->
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#paper">Paper</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#authors">Authors</a>
            </li>
            <li>
                <a class="nav-link" href="#contact">Contact</a>
            </li>
            <li>
              <a class="nav-link" href="#License">License</a>
            </li>
          </ul>
        </div>
      </nav>



	<main>
		<section class="content">
			{{ content }}
		</section>
    </main>
    


	{%- if site.plainwhite.analytics_id -%}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
    {%- endif -%}
    

</body>
</html>
